li.dropdown-parent {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column; 
}

li.dropdown-parent button{
    background-color: #ffffff;
}

li.dropdown-parent > span, a.Link{
    height: 50px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0px 25px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

li.dropdown-parent > span > .IoTriangle{
    transform: rotate(180deg);
    color:#07b;
    width:8px; 
    height:8px; 
    margin-left: 8px;
}

li.dropdown-parent > span:hover, a.Link:hover{
    background-color: #3789af;
    cursor: pointer;
}

li.dropdown-parent > span:hover > .IoTriangle{
    color:#00466f;
}

li.dropdown-parent > ul.dropdown-menu{
    color: rgb(0, 0, 0);
    min-width: 180px;
    position: absolute;
    top: 50px;
    list-style-type: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

li.dropdown-parent > ul.dropdown-menu > a > li.Options{
    text-align: center;
    font-size: 18px;
    padding: 5px 0px ;
    color: rgb(0, 0, 0);
    text-shadow: none;
}

li.dropdown-parent > ul.dropdown-menu > a:hover > li.Options{
    /* background-color: #3789af; */
    background-image: linear-gradient(to bottom, #46b2e0, #30a9dc);
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 1000px){
    li.dropdown-parent > ul.dropdown-menu{
        position: relative;
        top: 0px;
    }
}
