li.language{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-self: flex-start;
    width: 50px;
    font-size: 18px;
}

li.language .language-title{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li.language .language-title:hover{
    cursor: pointer;
    background-color: #3789af;
}

li.language .language-title .IoTriangle{
    transform:rotate(180deg);
    color: #07b;
    width: 8px;
    height: 8px;
    margin-left:8px;
}

li.language .language-title:hover .IoTriangle{
    color:#00466f;
}

li.language .hidden{
    display: none;
}

li.language .visible{
    display: block;
}

li.language > .language-list{
    width: 50px;
    padding: 2px;
    background-color: #f5f5f5;
    align-self: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

li.language > ul.language-list > li.language-item{
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

li.language > ul.language-list > li.language-item:hover{
    background-color: #479dc4;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 1000px){
    li.language{
        width: 100%;
    }
    li.language .language-title{
        position: relative;
    }
    li.language:hover > ul.language-list{
        top: 0px;
    }
}
