.TreeList{
    list-style: none;
    width: 100%;
    height: auto;
}

.TreeList button {
    border:none;
    background-color: #479dc4;
    text-decoration: none;
    border-radius: 0px;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.TreeList button span{
    margin-right: 10px;
    font-size: 18px;
}
.TreeList button:hover {
    text-decoration: none;
    background-image: linear-gradient(to bottom, #46b2e0, #30a9dc);
    color: #fff;
}

.euiTreeView__iconWrapper {
    margin-top: 0px;
    margin-right: 8px;
}

.euiTreeView .euiTreeView {
    padding-left: 0px;
}

.euiTreeView__nodeLabel{
    margin-left: 12px;
}

.euiTreeView__node--expanded .euiText .euiTreeView .euiTreeView__node .euiTreeView__nodeInner{
    padding-left: 24px;
}