.TreeList{
    list-style: none;
    width: 100%;
    height: auto;
}

.TreeList button {
    border:none;
    background-color: #479dc4;
    text-decoration: none;
    padding: 0px;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.TreeList button span{
    padding:5px;
}
.TreeList button:hover {
    text-decoration: none;
    background-color: #6193aa;
}

.TreeList ul.euiTreeView {
    padding: 5px 0px 5px 2px;
}
