.TreeList{
    list-style: none;
    width: 100%;
    height: auto;
}

.TreeList button {
    border:none;
    background-color: #479dc4;
    text-decoration: none;
    padding: 0px;
    border-radius: 0px;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.TreeList button span{
    padding:5px;
    font-size: 18px;
}
.TreeList button:hover {
    text-decoration: none;
    background-color: #3789af;
    color: #fff;
}

.TreeList ul.euiTreeView {
    padding: 5px 0px 5px 10px;
}
