.header{
    padding: 0px;
    margin: 0px;
    height: 50px;
    width: 100%;
    background-color: #479dc4;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header .headerLeft{
    width:40%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header .headerLeft .items{
    width:25%;
}

.header .headerRight{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .headerRight img{
    width: 20px;
    height: 20px;
}

.header .headerMobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header .headerMobile img{
    width: 20px;
    height: 20px;
    margin: 10px;
}


@media screen and (max-width: 1000px){
    .header{
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .header .headerLeft{
        flex-direction: column;
        width: 70%;
    }

    .header .headerLeft .items{
        width: 100%;
    }

    .header .headerRight{
        width: 20%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
}

