.header{
    /* position: relative; */
    padding: 0;
    margin: 0;
    height: 50px; /*px*/
    width: 100%;
    background-color: #479dc4;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;

    /* FLEX */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header .headerLeft{
    width:50%;
    list-style: none;
    /* overflow: hidden; */

    /* FLEX */
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px){
    .header{
        height: auto;
    }
    .header .headerLeft{
        flex-direction: column;
        width:100%;
    }
}

