.clock{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.euiButton:hover:not([class*='isDisabled']), .euiButton:focus {
    text-decoration: none;
}

@media screen and (max-width: 1000px){
    .clock{
        width: auto;
    }
}