*{
    font: normal 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Login{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../assets/images/laboratory.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Login .LoginHeader {
    background-color: #fff;
    width: 100%;
    top: 0;
    z-index: 2;
    opacity: 0.9;
    padding: 0px 60px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginHeader .LoginHeaderContainer li.language .language-title:hover {
    background-color: transparent;
}

.Login .LoginHeader .LoginHeaderContainer{
    width: 1000px;
    height: 80px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Login .LoginMain{
    width: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login .LoginMain .LoginContainer{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-style: solid;
    border-width: 0.5px;
    border-color: #fff;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Login .LoginMain .LoginContainer .LoginIco{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
    background-color: #479dc4;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #fff;/* 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login .LoginMain .LoginContainer .LoginIco img{
    width: 60px;
    height: 60px;
}

.Login .LoginMain .LoginContainer .LoginContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login .LoginMain .LoginContainer .LoginContent .Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.Login .LoginMain .LoginContainer .LoginContent .Form input{
    width: 220px;
    height: 40px;
    border-style: solid;
}

.Login .LoginMain .LoginContainer .LoginContent .Form input:focus {
    outline: none;
    background: #eee;
    transition: 0.3s ease-in-out;
}

.Login .LoginMain .LoginContainer .LoginContent .Form input.username{
    border-radius: 5px 5px 0px 0px;
    border: solid #ccc;
    border-width: 1px 1px 0px 1px;
}

.Login .LoginMain .LoginContainer .LoginContent .Form input.password{
    border-radius: 0px 0px 5px 5px;
    border: solid #ccc;
    border-width: 1px 1px 1px 1px;
}

.Login .LoginMain .LoginContainer .LoginContent .Form button{
    color: #fff;
    background-color: #3498db;
    width: 100%;
    height: 45px;
    padding: 5px;
    margin-top: 15px;
    transition: all .2s;
    border-radius: 2px;
}

.Login .LoginMain .LoginContainer .LoginContent .Form button:hover{
    background-color: #2980b9;
    border-color: #2980b9;
}

.Login .LoginMain .LoginContainer .LoginInfo{
    color: rgb(0, 0, 0);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
}

.Login .LoginFooter{
    width: 100%;
    min-height: 50px;
    text-align: center;
    position: sticky;
    opacity: 0.9;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.Login .LoginFooter span{
    color: #171717;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Login .LoginFooter span p{
    color: #171717;
    padding-right: 4px;
}


@media screen and (max-width: 1000px){  

    .Login .LoginHeader {
        padding: 0px 30px;
    }
    
    .Login .LoginHeader .LoginHeaderContainer .language{
        width: 80px;
    }

    .Login .LoginMain .LoginContainer{
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .Login .LoginMain .LoginContainer .LoginIco{
        width: 110px;
        height: 110px;
    }
    
    .Login .LoginMain .LoginContainer .LoginIco img{
        width: 80px;
        height: 80px;
    }
        
    .Login .LoginHeader .LoginHeaderContainer{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Login .LoginFooter{
        padding: 0px 30px;
    }
}