.trending{
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending:hover{
    background-color: #3789af;
    cursor: pointer;
}

.euiButton .euiButton__content {
    padding: 0px;
}

.euiButton {
    height: 45px;
    min-width: 40px;
}
